RewriteEngine on
RewriteCond %{HTTP_REFERER} !^https://die-cut.github.io/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^https://die-cut.github.io$ [NC]
RewriteRule \.(gif|jpg|jpeg|bmp|zip|ttf|otf|eot|svg|woff2|woff|png|rar|mp3|flv|swf|xml|php|png|css|pdf)$ - [F,NC]
<FilesMatch "\.(htaccess|htpasswd|ini|woff2|eot|woff2|woff|ttf|otf|svg|png|jpg|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>
Options -Indexes
