@font-face {
    font-family: 'platformermedium';
    src: url('https://die-cut.github.io/design/fonts/platformerLIM/platformermononarrowmediumlogo-webfont.eot');
    src: url('https://die-cut.github.io/design/fonts/platformerLIM/platformermononarrowmediumlogo-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://die-cut.github.io/design/fonts/platformerLIM/platformermononarrowmediumlogo-webfont.woff2') format('woff2'),
         url('https://die-cut.github.io/design/fonts/platformerLIM/platformermononarrowmediumlogo-webfont.woff') format('woff'),
         url('https://die-cut.github.io/design/fonts/platformerLIM/platformermononarrowmediumlogo-webfont.ttf') format('truetype'),
         url('https://die-cut.github.io/design/fonts/platformerLIM/platformermononarrowmediumlogo-webfont.svg#platformermedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
